extends layout

block content

  form(method='POST', action='forms/submitFormData', role="form")
    input(type='text', id='email', name='email', class='form-control', placeholder='Email', required)
    input(type='text', id='phonenumber', name='phonenumber', class='form-control', placeholder='Phone Number', required)
    input(type='submit', id='submit', name='submit', value='Submit')
