extends layout
block content

  form(method='POST', action='/forms/submitFormData', role="form")
    .row
      input(type='text' id='bioid' name='bioid' value='#{bioId}')
      br
      select(name="topic", required)#topic
        option(value='') Select One
        option(value='FIN') Economic Stimulus/Financial Services
        option(value='MORTGAGE HELP') Mortgage Assistance
        option(value='CASE') Need Help with a Federal Agency/Military Personnel
        option(value='ABO') Abortion
        option(value='AGI') Aging
        option(value='AGRI') Agriculture
        option(value='ANWE') Animal Welfare
        option(value='ARTS') Arts
        option(value='ASBESTOS') Asbestos
        option(value='BANK') Banking
        option(value='BUD') Budget
        option(value='CHLDFAM') Children and Families
        option(value='JUD') Judiciary
        option(value='DEF') Defense
        option(value='EDU') Education
        option(value='ELCON') Elections and Congressional Affairs
        option(value='ENER') Energy
        option(value='ENV') Environment and Natural Resources
        option(value='FISH') Fisheries
        option(value='FOR') Foreign Policy
        option(value='HECA') Health Care
        option(value='HOMELAND') Homeland Security/Terrorism
        option(value='HOU') Housing
        option(value='IMM') Immigration
        option(value='IRAQ') Iraq
        option(value='LABOR') Labor and Workforce
        option(value='LEG') Law Enforcement and Firearms
        option(value='GAYRTS') LGBT
        option(value='MEDICAID') Medicaid
        option(value='MEDICARE') Medicare
        option(value='POSTAL') Postal Affairs
        option(value='SOCSEC') Social Security
        option(value='SPASCI') Space
        option(value='SMBUS') Small Business
        option(value='TAX') Taxes
        option(value='TNT') Technology and Telecommunications
        option(value='TRADE') Trade
        option(value='TRANS') Transportation
        option(value='VETS') Veterans
        option(value='WELF') Welfare
        option(value='WOMENS') Women
      br
      input(type='text', id='firstname', name='firstname', class='form-control', placeholder='Enter First Name', required)
      input(type='text', id='subject', name='subject', class='form-control', placeholder='Enter Subject', required)
      input(type='text', id='message', name='message', class='form-control', placeholder='Enter Message', required)
      input(type='text', id='email', name='email', class='form-control', placeholder='Email', required)
      br
      input(type='submit', id='submit', name='submit', value='Submit', class='btn btn-default')
