extends layout

block content

  form(method='POST', action='/forms/submitFormData', role="form")
    .row
      h4 Prefix
      select(name="prefix", required)#prefix
        option(value='') Select One
        option Mr.
        option Mrs.
        option Dr.
        option Ms.
      br
      br
      input(type='text' id='bioid' name='bioid' value='#{bioId}')
      input(type='text', id='firstname', name='firstname', class='form-control', placeholder='Enter First Name', required)
      input(type='text', id='lastname', name='lastname', class='form-control', placeholder='Enter Last Name', required)
      input(type='text', id='streetaddress1', name='streetaddress1', class='form-control', placeholder='Address 1', required)      
      input(type='text', id='city', name='city', class='form-control', placeholder='City', required)
      input(type='text', id='address_zip_5', name='address_zip_5', class='form-control', placeholder='Zip', required)
      input(type='text', id='phone', name='phone', class='form-control', placeholder='Phone')
      select(name="state")#state
        option(value='') Select One
        option AL
        option AK
        option AZ
        option AR
        option CA
        option CO
        option CT
        option DC
        option DE
        option FL
        option GA
        option HI
        option ID
        option IL
        option IN
        option IA
        option KS
        option KY
        option LA
        option ME
        option MD
        option MA
        option MI
        option MN
        option MO
        option MS
        option MT
        option NE
        option NJ
        option NV
        option NH
        option NM
        option NY
        option NC
        option ND
        option OH
        option OK
        option OR
        option PA
        option RI
        option SC
        option SD
        option TN
        option TX
        option UT
        option VT
        option VA
        option WA
        option WV
        option WI
        option WY
      br
      input(type='text', id='email', name='email', class='form-control', placeholder='Email', required)      
      input(type='text', id='subject', name='subject', class='form-control', placeholder='Enter Subject', required)
      input(type='text', id='message', name='message', class='form-control', placeholder='Enter Message', required)
      select(name="response", required)#response
        option(value='') Select One
        option yes
        option no      
      h4 Topic
      select(name="topic", required)#topic
        option(value='') Select One	  
        option Advocacy
        option Agriculture and Food
        option Animals
        option Armed Forcs and National Security
        option Arts, Culture, Religion
        option Civil Rights and Liberties, Minority Issues
        option Commerce
        option Congress
        option Crime and Law Enforcement
        option Economics and Public Finance
        option Education
        option Emergency Management
        option Energy
        option Environmental Protection
        option Families
        option Finance and Financial Sector
        option Foreign Trade and International Finance
        option Government Operations and Politics
        option Health
        option Housing and Community Development
        option Immigration
        option International Affairs
        option Labor and Employment
        option Law
        option Native Americans
        option Private Legislation
        option Public Lands and Natural Resources
        option Science, Technology, Communications
        option Social Sciences and History
        option Social Welfare
        option Sports and Recreation
        option Taxation
        option Transportation and Public Works
        option Water Resources Development
      br
      br
      input(type='submit', id='submit', name='submit', value='Submit', class='btn btn-default')
