extends layout

block content

  form(method='POST', action='/forms/twoStepTest', class='form-inline', role='form')
    .form-group
      input(type='text' id='bioid' name='bioid' value='#{bioId}')
      input(type='text', id='zipcode', name='zipcode', class='form-control', placeholder='Enter Zip', required)
      input(type='text', id='phone', name='phone', class='form-control', placeholder='Phone', required)
      br
      input(type='submit', id='submitone', name="submitone", value='Next Step', class='btn btn-default')
