extends layout

block content

  form(method='POST', action='/forms/submitFormData', role="form")
    .row
      h3 Prefix
      select(name="prefix", required)#prefix
        option(value='') Select One
        option Mr.
        option Mrs.
        option Ms.
      br
      br
      input(type='text' id='bioid' name='bioid' value='#{bioId}')
      input(type='text', id='lastname', name='lastname', class='form-control', placeholder='Enter Last Name', required)
      br
      input(type='text', id='subject', name='subject', class='form-control', placeholder='Enter Subject', required)
      input(type='text', id='message', name='message', class='form-control', placeholder='Enter Message', required)
      input(type='text', id='email', name='email', class='form-control', placeholder='Email', required)
      br
