extends layout

block content

  form(method='POST', action='/forms/submitFormData', role="form")
    .row

      br
      input(type='text' id='bioid' name='bioid' value='#{bioId}')

      input(type='text', id='firstname', name='firstname', class='form-control', placeholder='Enter First Name', required)
      input(type='text', id='lastname', name='lastname', class='form-control', placeholder='Enter Last Name', required)
      input(type='text', id='streetaddress1', name='streetaddress1', class='form-control', placeholder='Address 1', required)
      input(type='text', id='streetaddress2', name='streetaddress2', class='form-control', placeholder='Address 2')
      input(type='text', id='city', name='city', class='form-control', placeholder='City', required)
      input(type='text', id='address_zip_5', name='address_zip_5', class='form-control', required)
      input(type='text', id='address_zip_4', name='address_zip_4', class='form-control', required)

      input(type='text', id='email', name='email', class='form-control', placeholder='Email', required)
      input(type='text', id='phone', name='phone', class='form-control', placeholder='Phone', required)

      br
      input(type='text', id='subject', name='subject', class='form-control', placeholder='Enter Subject', required)
      input(type='text', id='message', name='message', class='form-control', placeholder='Enter Message', required)

      h4 Prefix
      select(name="prefix", required)#prefix
        option(value='') Select One
        option Mr.
        option Mrs.
        option Ms.
        option Miss
	option Dr.
	option Hon.
	option Rev.
	option Rabbi
      select(name="state")#state
        option(value='') Select One
        option AK
        option AL
        option AR
        option AZ
        option CA
        option CO
        option CT
        option DC
        option DE
        option FL
        option GA
        option HI
        option IA
        option ID
        option IL
        option IN
        option KS
        option KY
        option LA
        option MA
        option MD
        option ME
        option MI
        option MN
        option MO
        option MS
        option MT
        option NC
        option ND
        option NE
        option NH
        option NJ
        option NM
        option NV
        option NY
        option OH
        option OK
        option OR
        option PA
        option PR
        option RI
        option SC
        option SD
        option TS
        option TX
        option UT
        option VA
        option VT
        option WA
        option WI
        option WV
        option WY

      br
      input(type='submit', id='submit', name='submit', value='Submit', class='btn btn-default')
