extends layout
block content
    form(method='POST', action='/forms/submitFormData', role="form")
        .row
            br
            input(type='text' id='bioid' name='bioid' value='#{bioId}')
            input(type='text', id='firstname', name='firstname', class='form-control', placeholder='Enter First Name', required)
            input(type='text', id='lastname', name='lastname', class='form-control', placeholder='Enter Last Name', required)
            input(type='text', id='address', name='street', class='form-control', placeholder='Address 1', required)
            input(type='text', id='address2', name='streetaddress2', class='form-control', placeholder='Address 2')
            input(type='text', id='city', name='city', class='form-control', placeholder='City', required)
            input(type='text', id='zip5', name='address_zip_5', class='form-control', required)
            input(type='text', id='email', name='email', class='form-control', placeholder='Email', required)
            br
            input(type='text', id='message', name='message', class='form-control', placeholder='Enter Message', required)
            h4 Prefix
            select(name="prefix")#prefix
               option(value='') Select One
               option Mr.
               option Mrs.
               option Mr. and Mrs.
               option Mr. and Mr.
               option Mrs. and Mrs.
               option Ms.
               option Miss
               option Dr.
               option Pastor
               option Reverend
            br
            h4 Topic
            label(for='opts1') Animals
               input(type='radio', name='topic', id='opts1', value='Animals', required)
            label(for='opts2') Government Affairs
               input(type='radio', name='topic', id='opts2', value='Government Affairs')
            label(for='opts3') Disabilities
               input(type='radio', name='topic', id='opts3', value='Disabilities')
            label(for='opts4') Economic Development
               input(type='radio', name='topic', id='opts4', value='Economic Development')
            label(for='opts5') Education
               input(type='radio', name='topic', id='opts5', value='Education')
            br
            input(type='submit', id='submit', name='submit', value='Submit', class='btn btn-default')
