extends layout

block content

  form(method='POST', action='/forms/submitFormData', role="form")
    .row
    br
    input(type='text' id='bioid' name='bioid' value='#{bioId}')
    input(type='text', id='lastname', name='lastname', class='form-control', placeholder='Enter Last Name', required)
    br
    input(type='text', value= 'change me', id='arbitraryField', name='arbitraryField', class='form-control', required)
    input(type='text', id='email', name='email', class='form-control', placeholder='Email', required)
    br

