extends layout

block content

  form(method='POST', action='/forms/submitFormData', role="form")
    .row
      input(type='text', id='prefix', name='prefix', class='form-control', placeholder='Enter Prefix', required)
      input(type='text' id='bioid' name='bioid' value='#{bioId}')
      input(type='text', id='email', name='email', class='form-control', placeholder='Email', required)
      input(type='text', id='phonenumber', name='phonenumber', class='form-control', placeholder='Enter Phone', required)
      input(type='text', id='streetaddress2', name='streetaddress2', class='form-control', placeholder='Address 2')      
      input(type='submit', id='submit', name='submit', value='Submit', class='btn btn-default')
