extends layout

block content

  form(method='POST', action='/forms/submitFormData', role="form")
    .row
      br
      input(type='text' id='bioid' name='bioid' value='#{bioId}')
      input(type='text', id='firstname', name='firstname', class='form-control', placeholder='Enter First Name', required)
      input(type='text', id='lastname', name='lastname', class='form-control', placeholder='Enter Last Name', required)
      input(type='text', id='address_zip_5', name='address_zip_5', class='form-control', placeholder='Enter Zip', required)
      br
      h3 Prefix
      select(name="prefix", required)#prefix
        option(value='') Select One
        option Mr.
        option Mrs.
        option Ms.
        option Miss
        option Dr.
        option The Honorable        
      br
      input(type='text', id='address_country', name='address_country', class='form-control', placeholder='Enter a country', required)
      select(name="topic", required)#topic
        option(value='') Select One	  
        option Afghanistan and Iraq
        option Civil Rights
        option Economy
        option Education
        option Energy
        option Environment
        option Foreign Policy
        option Health Care
        option Homeland Security
        option Housing
        option Immigration
        option Job Creation
        option Middle Class Task Force
        option Recovery Act
        option Science and Technology
        option Seniors
        option Taxes
        option Transportation
        option Veterans
        option Help with a Federal Agency
        option The Administration
        option The Biden Family
        option The First Family
        option Other
      br
      input(type='text', id='edit-submitted-message', name='edit-submitted-message', class='form-control', placeholder='Enter Message', required)	      
      input(type='text', id='edit-submitted-delivery-agent-name', name='edit-submitted-delivery-agent-name', class='form-control', placeholder='Enter Full Name', required)	  
      input(type='text', id='edit-submitted-delivery-agent-first-name', name='edit-submitted-delivery-agent-first-name', class='form-control', placeholder='Enter First Name', required)      
      input(type='text', id='edit-submitted-delivery-agent-last-name', name='edit-submitted-delivery-agent-last-name', class='form-control', placeholder='Enter Last Name', required)
      input(type='text', id='edit-submitted-delivery-agent-email', name='edit-submitted-delivery-agent-email', class='form-control', placeholder='Email', required)	 	  
      br
      input(type='text', id='edit-submitted-delivery-agent-phone', name='edit-submitted-delivery-agent-phone', class='form-control', placeholder='Phone', required)      
      input(type='text', id='edit-submitted-delivery-agent-title', name='edit-submitted-delivery-agent-title', class='form-control', placeholder='Enter Title', required)	 
      input(type='text', id='edit-submitted-delivery-agent-organization', name='edit-submitted-delivery-agent-organization', class='form-control', placeholder='Enter Organization', required)      
      input(type='text', id='edit-submitted-delivery-agent-street', name='edit-submitted-delivery-agent-street', class='form-control', placeholder='Agent Address', required)
      input(type='text', id='edit-submitted-delivery-agent-zip', name='edit-submitted-delivery-agent-zip', class='form-control', required)
      input(type='text', id='edit-submitted-delivery-agent-city', name='edit-submitted-delivery-agent-city', class='form-control', placeholder='City', required)      
      br
      br
      select(name="edit-submitted-delivery-agent-state")#edit-submitted-delivery-agent-state
        option(value='') Select One
        option DC
        option MD
        option VA	   
      select(name="edit-submitted-delivery-agent-country")#edit-submitted-delivery-agent-country
        option(value='') Select One
        option United States
        option Canada
        option England    
      br
      input(type='submit', id='submit', name='submit', value='Submit', class='btn btn-default')
