extends layout

block content

  form(method='POST', action='/forms/submitFormData', role="form")
    .row
    input(type='text', id='email', name='email', class='form-control', placeholder='Email', required)
    input(type='text', id='prefix', name='prefix', class='form-control', placeholder='Enter Prefix', required)    
    input(type='text', id='first', name='first', class='form-control', placeholder='First Name')
    input(type='text', id='last', name='last', class='form-control', placeholder='Last Name')
    input(type='text', id='phone', name='phone', class='form-control', placeholder='Phone', required)    
    input(type='text', id='comments', name='comments', class='form-control', placeholder='Comments')
    select(id='location' name='location', required)
      option(value='') Select One
        option O`ahu
        option East Hawai`i Island
        option West Hawai`i Island
        option Kaua`i
        option Lana`i
        option Maui
        option Moloka`i
        option Mainland U.S.
        option International
    select(id='type' name='type', required)
      option(value='') Select One
        option Comment/ Suggestion
        option Complaint
        option Question
        option Other
    
    br
    input(type='submit', id='submit', name='submit', value='Submit', class='btn btn-default')
