extends layout

block content

  form(method='POST', action='/forms/submitFormData', role="form")
    .captchaForm
      img(src="/forms/images" alt="captcha image" id="captchaImg")
      br
      input(type='text' id='captchaResponse' name='captchaResponse' value='#{bioId}')
      input(type='text', id='email', name='email', class='form-control', placeholder='Email', required)
      input(type='submit', id='submitcaptcha', name='submitcaptcha', value='Submit', class='btn btn-default')