extends layout

block content

  form(method='POST', action='/forms/solveNewRecaptcha', role="form")
    .row
      noscript
      div(data-sitekey='#{newPublicKey}', class='g-recaptcha')

      input(type='submit', id='recaptchaSubmit', name='recaptchaSubmit', value='Submit CAPTCHA')
      
      br
      input(type='text' id='bioid' name='bioid' value='#{bioId}')

      input(type='text', id='firstname', name='firstname', class='form-control', placeholder='Enter First Name', required)
      input(type='text', id='lastname', name='lastname', class='form-control', placeholder='Enter Last Name', required)
      input(type='text', id='email', name='email', class='form-control', placeholder='Email', required)
      input(type='text', id='streetaddress1', name='streetaddress1', class='form-control', placeholder='Address 1', required)
      input(type='text', id='city', name='city', class='form-control', placeholder='City', required)	  
      input(type='text', id='address_zip_5', name='address_zip_5', class='form-control', required)
      input(type='text', id='phone', name='phone', class='form-control', placeholder='Phone', required)	  
      input(type='text', id='message', name='message', class='form-control', placeholder='Enter Message', required)	  

      br
      h4 State
      select(name="address_state_full", required)#address_state_full
        option(value='') Select One
        option Nebraska
      input(type='submit', id='submit', name='submit', value='Submit', class='btn btn-default')
