extends layout

block content

  form(method='POST', action='/forms/submitFormData', role="form")
    .row
    br
    br
    input(type='text', id='email', name='email', pattern='banana|apple' class='form-control', placeholder='Email', required)
    br
    input(type='text', id='phonenumber', name='phonenumber', class='form-control', placeholder='Enter Phone')
    br
    input(type='text', id='streetaddress', name='streetaddress', class='form-control', placeholder='Address', required)
    br
    select(id='topic', name='topic' required)
      option(value='') Select One
      option Mario
      option Zelda
    br
    input(type='submit', id='submit', name='submit', value='Submit', class='btn btn-default')
