extends layout

block content

  form(method='POST', action='/forms/submitFormData', role="form")
    .row
      h4 Prefix
      select(name="prefix", required)#prefix
        option Select One
        option Mr.
        option Mrs.
        option Dr.
        option Ms.
      br
      br
      input(type='text' id='bioid' name='bioid' value='#{bioId}')
      input(type='text', id='firstname', name='firstname', class='form-control', placeholder='Enter First Name', required)
      input(type='text', id='lastname', name='lastname', class='form-control', placeholder='Enter Last Name', required)
      input(type='text', id='streetaddress1', name='streetaddress1', class='form-control', placeholder='Address 1', required)      
      input(type='text', id='city', name='city', class='form-control', placeholder='City', required)
      input(type='text', id='address_zip_5', name='address_zip_5', class='form-control', placeholder='Zip', required)
      input(type='text', id='phone', name='phone', class='form-control', placeholder='Phone', required)
      select(name="state")#state
        option(value='') Select One
        option AL
        option AK
        option AZ
        option AR
        option CA
        option CO
        option CT
        option DC
        option DE
        option FL
        option GA
        option HI
        option ID
        option IL
        option IN
        option IA
        option KS
        option KY
        option LA
        option ME
        option MD
        option MA
        option MI
        option MN
        option MO
        option MS
        option MT
        option NE
        option NJ
        option NV
        option NH
        option NM
        option NY
        option NC
        option ND
        option OH
        option OK
        option OR
        option PA
        option RI
        option SC
        option SD
        option TN
        option TX
        option UT
        option VT
        option VA
        option WA
        option WV
        option WI
        option WY
      br
      input(type='text', id='email', name='email', class='form-control', placeholder='Email', required)      
      input(type='text', id='subject', name='subject', class='form-control', placeholder='Enter Subject', required)
      input(type='text', id='message', name='message', class='form-control', placeholder='Enter Message', required)
      h4 Topic
      select(name="topic", required)#topic
        option(value='') Select One	  
        option Advocacy: "14886"
        option Agriculture and Food: "72"
        option Animals: "9982"
        option Armed Forcs and National Security: "10012"
        option Arts, Culture, Religion: "10039"
        option Civil Rights and Liberties, Minority Issues: "10055"
        option Commerce: "10073"
        option Congress: "10095"
        option Crime and Law Enforcement: "10109"
        option Economics and Public Finance: "10135"
        option Education: "73"
        option Emergency Management: "10168"
        option Energy: "10177"
        option Environmental Protection: "14814"
        option Families: "10209"
        option Finance and Financial Sector: "10219"
        option Foreign Trade and International Finance: "10236"
        option Government Operations and Politics: "10250"
        option Health: "74"
        option Housing and Community Development: "10346"
        option Immigration: "10360"
        option International Affairs: "10370"
        option Labor and Employment: "10390"
        option Law: "10406"
        option Native Americans: "10424"
        option Private Legislation: "14873"
        option Public Lands and Natural Resources: "10432"
        option Science, Technology, Communications: "10447"
        option Social Sciences and History: "10471"
        option Social Welfare: "10479"
        option Sports and Recreation: "10485"
        option Taxation: "10493"
        option Transportation and Public Works: "81"
        option Water Resources Development: "10528"
      br
      br
      input(type='submit', id='submit', name='submit', value='Submit', class='btn btn-default')
