extends layout

block content

  form(method='POST', action='/forms/solveRecaptcha')
    .row
      .col-md-3
        h4 Email
      .col-md-3
        input(type='text', value='$EMAIL')
    .row
      .col-md-6
        script(src="http://www.google.com/recaptcha/api/challenge?k=#{publicKey}")
        noscript
           iframe(src="http://www.google.com/recaptcha/api/noscript?k=#{publicKey}",
               height="300", width="500", frameborder="0")
           br
           textarea(name="recaptcha_challenge_field", rows="3", cols="40")
           input(type="hidden", name="recaptcha_response_field", value="manual_challenge")
        
        input(type='submit', value='Check Recaptcha')