extends layout

block content

  form(method='POST', action='/forms/solveRecaptcha', role="form")
    .row
      script(src="http://www.google.com/recaptcha/api/challenge?k=#{publicKey}")
      noscript
         iframe(src="http://www.google.com/recaptcha/api/noscript?k=#{publicKey}",
             height="300", width="500", frameborder="0")
         br
         textarea(name="recaptcha_challenge_field", rows="3", cols="40")
         input(type="hidden", name="recaptcha_response_field", value="manual_challenge")
      
      input(type='submit', id='submitCaptcha', name='submitCaptcha', value='Check Recaptcha', class='btn btn-default')