extends layout

block content

  form(method='POST', action='/forms/submitFormData', role="form")
    .row
      h3 Prefix
      select(name="prefix", required)#prefix
        option(value='') Select One
        option Mr.
        option Mrs.
        option Ms.
        option Miss
	option Dr.
		
      br
      input(type='text' id='bioid' name='bioid' value='#{bioId}')
      input(type='text', id='firstname', name='firstname', class='form-control', placeholder='Enter First Name', required)
      input(type='text', id='streetaddress1', name='streetaddress1', class='form-control', placeholder='Address 1', required)
      input(type='text', id='streetaddress2', name='streetaddress2', class='form-control', placeholder='Address 2')
      input(type='text', id='city', name='city', class='form-control', placeholder='City', required)
      select(name="state")#state
        option(value='') Select One
        option CA
        option MD
        option VA
        option WY
		
      br
      input(type='text', id='zipcode', name='zipcode', class='form-control', placeholder='Enter Zip', required)
      input(type='text', id='phonenumber', name='phonenumber', class='form-control', placeholder='Enter Phone', required)
      br
      input(type='text', id='subject', name='subject', class='form-control', placeholder='Enter Subject', required)
      input(type='text', id='message', name='message', class='form-control', value='Default Message', required)
		
      br
      select(name="topic", required)#topic
        option(value='') Select One
        option(value='BOR.SEC') Border Security
        option(value='BGT.GEN') Budget
        option(value='CIVLIB') Civil Liberties
        option(value='DEF') Defense
        option(value='JOBS') Economy and Jobs
        option(value='ED') Education
        option(value='ENE.GEN') Energy
        option(value='ENV.GEN') Environment
        option(value='FEMA') First Responders
        option(value='FOR.GEN') Foreign Affairs
        option(value='GUN CONTROL') Gun Violence
        option(value='HLT.GEN') Health Care
        option(value='HOU.GEN') Housing
        option(value='IMM.GEN') Immigration
        option(value='INDIAN') Indian Affairs
        option(value='LAW.ENFORCE') Law Enforcement
        option(value='KM1') Miscellaneous
        option(value='NAT.SEC') National Security
        option(value='SS.GEN') Seniors and Social Security
        option(value='SM BUS') Small Business
        option(value='TAX.GEN') Taxes
        option(value='TECH') Technology
        option(value='TRN.GEN') Transportation
        option(value='VET.GEN') Veterans
		
      br
      input(type='submit', id='submit', name='submit', value='Submit', class='btn btn-default')
