extends layout

block content

  form(method='POST', action='/forms/submitFormData', role="form")
    .row

      br
      input(type='text' id='bioid' name='bioid' value='#{bioId}')
      
      br
      input(type='text', id='Comment', name='message', class='form-control', placeholder='Enter Message', required)
      
      br
      input(type='text', id='FirstName', name='fname', class='form-control', placeholder='Enter First Name', required)
      input(type='text', id='LastName', name='lname', class='form-control', placeholder='Enter Last Name', required)
      input(type='text', id='EmailAddress', name='email', class='form-control', placeholder='Email', required)    
      input(type='text', id='MailingAddress', name='address', class='form-control', placeholder='Address 1', required)  
      input(type='text', id='City', name='city', class='form-control', placeholder='City', required)
      input(type='text', id='Zip', name='zip', class='form-control', required)  
      input(type='text', id='Telephone', name='phone', class='form-control', placeholder='Phone', required)

      br
      label(for='math-test') Five + 5
      input(type='text', id='math-test', name='math_qna', class='form-control', placeholder='Q&A', required)   
            
      br
      input(type='submit', id='submitEmailForm', name='submit', value='Submit', class='btn btn-default')
