extends layout

block content

  form(method='POST', action='/forms/submitFormData', role="form")
    .row
      br
      input(type='text' id='bioid' name='bioid' value='#{bioId}')
      input(type='text', id='campaignuuid', name='campaignuuid', class='form-control', placeholder='Enter Campaign ID', required)
      br
      input(type='text', id='permalink', name='permalink', class='form-control', placeholder='Enter Permalink', required)
      input(type='text', id='orgurl', name='orgurl', class='form-control', placeholder='Enter Org URL', required)
      input(type='text', id='orgname', name='orgname', class='form-control', placeholder='Enter Org Name', required)
      input(type='text', id='email', name='email', class='form-control', placeholder='Email', required)
      br
      input(type='submit', id='submit', name='submit', value='Submit', class='btn btn-default')
