extends layout

block content
  .row
    .col-md-6
        a(href='/forms/postData') View Post Data
  .row
    .col-md-6
      a(href='/forms/N000181') ReCaptcha
  .row
    .col-md-6
      a(href='/forms/M000933') Two Step
  .row
    .col-md-6
      a(href='/forms/W000805') One Step