extends layout
block content

  form(method='POST', action='/forms/submitFormData', role="form")
    .row
      input(type='text' id='bioid' name='bioid' value='#{bioId}')
      br
    select(name="topic", required)#topic
      option(value='') Select One 
      option(value='AFGHANISTAN') Afghanistan
      option(value='AG') Agriculture
      option(value='ANIMAL') Animals
      option(value='ARTS') Arts/Public Television
      option(value='BANKING') Banking
      option(value='BUDGET') Budget
      option(value='CHILDREN') Children\'s Issues
      option(value='CIVILRIGHTS') Civil Rights
      option(value='CONGRESS') Congress
      option(value='ETHICS') Congressional Ethics
      option(value='CRIME') Crime
      option(value='DEFENSE') Defense
      option(value='EAGLE') Eagle Scout Request
      option(value='ECONOMY') Economy Issues
      option(value='EDUCATION') Education Issues
      option(value='ELECTIONS') Elections
      option(value='ENERGY') Energy
      option(value='ENVIRO-GEN') Environment
      option(value='ENVIRO-TIMBER') Environment - Timber
      option(value='FDA') Food And Drug Administration
      option(value='GENERAL') General
      option(value='GUN') Gun Control
      option(value='HEALTH') Health
      option(value='HIV/AIDS') HIV/AIDS
      option(value='HOMELAND SECURITY') Homeland Security
      option(value='HOUSING') Housing
      option(value='HUMANRIGHTS') Human Rights
      option(value='IMMIGRATION') Immigration
      option(value='INTERNET') Internet
      option(value='INSURANCE') Insurance
      option(value='INTERNATL') International Relations
      option(value='IRAQ') Iraq
      option(value='JOB') Job Creation
      option(value='JUDICIARY') Legal Issues
      option(value='LABOR') Labor
      option(value='LESBIAN/GAY') Gay And Lesbian Issues
      option(value='MEDICAID') Medicaid
      option(value='MEDICARE') Medicare
      option(value='MINWAGE') Minimum Wage
      option(value='GENERAL') Miscellaneous
      option(value='OSHA') Occupational Safety
      option(value='POSTAL') Postal Service
      option(value='RELIGION') Religious Freedom
      option(value='ABORTION') Reproductive Rights
      option(value='SCIENCE') Science And Technology
      option(value='SOCSEC') Social Security
      option(value='TAX') Taxes
      option(value='TELECOM') Telecommunications/FCC
      option(value='TOUR') Tours Requests
      option(value='TRADE') Trade
      option(value='TRANS') Transportation
      option(value='UNEMPLOYMENT') Unemployment
      option(value='VETS') Veterans
      option(value='WELFARE') Welfare
      option(value='WOMEN') Women\'s Issues
      input(type='text', id='firstname', name='firstname', class='form-control', placeholder='Enter First Name', required)
      input(type='text', id='email', name='email', class='form-control', placeholder='Email', required)
    br
    input(type='submit', id='submit', name='submit', value='Submit', class='btn btn-default')
