extends layout

block content

  form(method='POST', action='/forms/submitFormData', role="form")
    .row
      h3 Prefix
      select(name="prefix", required)#prefix
        option Select One
        option Mr.
        option Mrs.
        option Ms.
        option Miss
      br
      br
      input(type='hidden' id='bioId' value='#{bioId}')
      input(type='text', id='firstname', name='firstName', class='form-control', placeholder='Enter First Name', required)
      br
      select(name="topic", required)#topic
        option Select One
        option Agriculture
        option Other
      br
      input(type='text', id='subject', name='subject', class='form-control', placeholder='Enter Subject', required)
      input(type='text', id='message', name='message', class='form-control', placeholder='Enter Message', required)
      br
      input(type='submit', id='submit', name='submit', value='Submit', class='btn btn-default')