extends layout

block content

  form(method='POST', action='/forms/submitFormData', role="form")
    .row
      h3 Prefix
      select(name="prefix", required)#prefix
        option Select One
        option Mr.
        option Mrs.
        option Ms.
      br
      br
      input(type='text' id='bioid' name='bioid' value='#{bioId}')

      input(type='text', id='address_zip_plus_4', name='address_zip_plus_4', class='form-control', placeholder='phone', required)

      input(type='text', id='address_county', name='address_county', class='form-control', placeholder='phone', required)

      input(type='text', id='phone_parentheses', name='phone_parentheses', class='form-control', placeholder='Phone', required)

      input(type='text', id='phone', name='phone', class='form-control', placeholder='Phone', required)

      input(type='text', id='address_state_full', name='address_state_full', class='form-control', placeholder='Full State Name', required)
      input(type='text', id='address_state_postal_abbrev', name='address_state_postal_abbrev', class='form-control', placeholder='State Postal Abbrev', required)

      input(type='text', id='firstname', name='lastname', class='form-control', placeholder='Enter First Name', required)
      input(type='text', id='lastname', name='lastname', class='form-control', placeholder='Enter Last Name', required)
      br
      input(type='text', id='subject', name='subject', class='form-control', placeholder='Enter Subject', required)
      input(type='text', id='message', name='message', class='form-control', placeholder='Enter Message', required)
      br
      input(type='submit', id='submit', name='submit', value='Submit', class='btn btn-default')