extends layout

block content

  form(method='POST', action='/forms/solveNewRecaptcha', role="form")
    .row
      noscript
      div(data-sitekey='#{newPublicKey}', class='g-recaptcha')

      br
      input(type='text' id='bioid' name='bioid' value='#{bioId}')

      input(type='text', id='input_35B38CDF-BD3E-346F-4BD0-600FE5B1F7DD', name='input_35B38CDF-BD3E-346F-4BD0-600FE5B1F7DD', class='form-control', placeholder='Enter First Name', required)
      input(type='text', id='input_35BD1D5A-9FBB-121F-9E6D-F05C00786FA5', name='input_35BD1D5A-9FBB-121F-9E6D-F05C00786FA5', class='form-control', placeholder='Enter Last Name', required)
      input(type='text', id='input_35E2030D-0BE0-C6C3-F685-66EAF2C47AD2', name='input_35E2030D-0BE0-C6C3-F685-66EAF2C47AD2', class='form-control', placeholder='Address 1', required)
      input(type='text', id='input_35F31A1A-E58A-4DBB-3443-57763D9F57B3', name='input_35F31A1A-E58A-4DBB-3443-57763D9F57B3', class='form-control', placeholder='City', required)
      input(type='text', id='input_36021752-DBB4-99CD-0DF8-775968CFD2C5', name='input_36021752-DBB4-99CD-0DF8-775968CFD2C5', class='form-control', placeholder='Zip', required)

      input(type='text', id='input_3626C40E-B571-4595-8A61-4D52E0AAD553', name='input_3626C40E-B571-4595-8A61-4D52E0AAD553', class='form-control', placeholder='Email', required)
      input(type='text', id='input_3629D55A-D2E7-5DF0-4EC9-CF7353DD9A7D', name='input_3629D55A-D2E7-5DF0-4EC9-CF7353DD9A7D', class='form-control', placeholder='Email', required)

      br
      input(type='text', id='input_F8813686-4040-F985-52CD-09783C7407E6', name='input_F8813686-4040-F985-52CD-09783C7407E6', class='form-control', placeholder='Enter Subject', required)
      input(type='text', id='input_36466B2D-9324-A3EC-8F49-33D7F83F9C08', name='input_36466B2D-9324-A3EC-8F49-33D7F83F9C08', class='form-control', placeholder='Enter Message', required)

      h4 Prefix
      select(name="input_35B67D45-0EE9-695F-CF75-CB73E9531F2A", required)#prefix
        option(value='') Select One
        option Mr.
        option Mrs.
        option Ms.
        option Miss
      h4 Topic
      select(name="input_F86363CE-4040-F985-52CD-25BC1B061358", required)#topic
        option  Abortion / Sanctity of Life
        option  Agriculture
        option  Arts
        option  Banking & Finance
        option  Border Security
        option  Budget
        option  Census
        option  Congressional / Judicial / Investigations
        option  Crime & Law Enforcement
        option  Defense / National Security
        option  Economic Development / Trade / Commerce
        option  Education
        option  Elections
        option  Energy
        option  Environment
        option  FDA
        option  Firearms
        option  Foreign Affairs
        option  Healthcare
        option  Homeland Security
        option  Housing
        option  Immigration
        option  Internet
        option  Iraq & Afghanistan
        option  Labor Issues
        option  Medicare / Medicaid
        option  Overcriminalization of Drugs
        option  Science & Technology
        option  Postal
        option  Retirement
        option  Small Business
        option  Social Issues
        option  Social Security
        option  Taxes
        option  Telecommunications
        option  Transportation
        option  Veterans Issues
      
      br
      input(type="hidden", name="recaptcharesponse", value="manual_challenge")
      input(type='submit', id='input.btn', name='input.btn', value='Submit')
