extends layout

block content

  form(method='POST', action='/forms/submitRequiredSelect', role="form")
    .row
      h3 Prefix
      select#prefix
        option Mr.
        option Mrs.
        option Ms.
        option Miss
      br
      br
      input(type='text', id='req_firstname', name='firstName', class='form-control', placeholder='Enter First Name')
      input(type='submit', id='submitRequiredSelect', name='submitRequiredSelect', value='Submit Prefix', class='btn btn-default')