extends layout

block content

  form(method='POST', action='/forms/submitRequiredSelect', role="form")
    .row
      h3 Prefix
      select(name="prefix")#prefix
        option(value='') Select One
        option Mr.
        option Mrs.
        option Ms.
        option Miss
      br
      br
      input(type='text', id='req_firstname', name='firstName',
      class='form-control', placeholder='Enter First Name')
      input(type='text', id='req_lastname', name='lastName',
      class='form-control', placeholder='Enter Last Name')
      br
      select(name="topic")#topic
        option(value='') Select One
        option Agriculture
        option Other
      br
      input(type='text', id='req_subject', name='subject', class='form-control', placeholder='Enter Subject')
      input(type='text', id='req_message', name='message', class='form-control', placeholder='Enter Message')
      br
      input(type='submit', id='submitRequiredSelect', name='submitRequiredSelect', value='Submit', class='btn btn-default')