extends layout

block content

  form(method='POST', action='/forms/submitFormData', role="form")
    .row
      h3 Prefix
      select(name="prefix", required)#prefix
        option(value='') Select One
        option Select One
        option Captain
        option Chief
        option Councilman
        option Councilwoman
        option Dame
        option Doctor
        option Dr.
        option Dr. and Mr.
        option Dr. and Mrs.
        option Father
        option Friend
        option Friends
        option Miss
        option Monsignor
        option Mr.
        option Mr. and Mrs.
        option Mrs.
        option Ms.
        option Pastor
        option Rabbi
        option Rev.
        option Reverend
        option Sir
        option Sister
        option The Honorable
      br
      br
      input(type='text' id='bioid' name='bioid' value='#{bioId}')
      input(type='text', id='firstname', name='firstname', class='form-control', placeholder='Enter First Name', required)
      input(type='text', id='streetaddress1', name='streetaddress1', class='form-control', placeholder='Address 1', required)
      input(type='text', id='streetaddress2', name='streetaddress2', class='form-control', placeholder='Address 2')
      input(type='text', id='city', name='city', class='form-control', placeholder='City', required)
      select(name="state")#state
        option(value='') Select One
		option New Jersey
		option Delaware
		option New York
		option Pennsylvania
		option Alabama
		option Alaska
		option Arizona
		option Arkansas
		option California
		option Colorado
		option Connecticut
		option Dist. of Col.
		option Delaware
		option Florida
		option Georgia
		option Hawaii
		option Idaho
		option Illinois
		option Indiana
		option Iowa
		option Kansas
		option Kentucky
		option Louisiana
		option Maine
		option Maryland
		option Massachusetts
		option Michigan
		option Minnesota
		option Missouri
		option Mississippi
		option Montana
		option Nebraska
		option Nevada
		option New Hampshire
		option New Mexico
		option New York
		option North Carolina
		option North Dakota
		option Ohio
		option Oklahoma
		option Oregon
		option Pennsylvania
		option Rhode Island
		option South Carolina
		option South Dakota
		option Tennessee
		option Texas
		option Utah
		option Vermont
		option Virginia
		option Washington
		option West Virginia
		option Wisconsin
		option Wyoming
		option American Samoa
		option Fed. States Micronesia
		option Guam
		option Marshall Islands
		option North Mariana Is.
		option Puerto Rico
		option Virgin Islands
      br
      input(type='text', id='zipcode', name='zipcode', class='form-control', placeholder='Enter Zip', required)
      input(type='text', id='phonenumber', name='phonenumber', class='form-control', placeholder='Enter Phone', required)
      br
      input(type='text', id='subject', name='subject', class='form-control', placeholder='Enter Subject', required)
      input(type='text', id='message', name='message', class='form-control', value='Default Message', required)
      select(name="response", required)#response
        option(value='') Select One
        option yes
        option no
      br
      input(type='submit', id='submit', name='submit', value='Submit', class='btn btn-default')
