extends layout

block content

  form(method='POST', action='?', role="form")
    .row
      script(src="https://www.google.com/recaptcha/api.js" async defer)
      noscript
         div(data-sitekey='#{publicKey}', class='g-recaptcha')
         br
         textarea(name="g-recaptcha", rows="3", cols="40")
         input(type="hidden", name="recaptcharesponse", value="manual_challenge")
      input(type='text' id='bioid' name='bioid' value='#{bioId}')
      input(type='submit', id='submitcaptcha', name='submitcaptcha', value='Check Recaptcha', class='btn btn-default')
