extends layout

block content

  form(method='POST', action='/forms/solveNewRecaptcha', role="form")
    .row
      noscript
      div(data-sitekey='#{newPublicKey}', class='g-recaptcha')

      input(type='submit', id='recaptchaSubmit', name='recaptchaSubmit', value='Submit CAPTCHA')
