extends layout

block content

  form(method='POST', action='webform.cfm', role="form")
    .row
      script(src="https://www.google.com/recaptcha/api.js" async defer)
      div(data-sitekey='#{publicKey}', class='g-recaptcha')
        iframe(name="iframe1", title="recaptcha widget")
         
         br
         textarea(name="g-recaptcha", rows="3", cols="40")
         input(type="hidden", name="recaptcharesponse", value="manual_challenge")
         input(type='text', name="recaptcha_response_field", id="recaptcha_response_field",)
      input(type='text' id='bioid' name='bioid' value='#{bioId}')
      input(type='submit', id='recaptchaSubmit', name='recaptchaSubmit', value='Submit CAPTCHA')
