extends layout

block content

  form(method='POST', action='?', role="form")
    .row
      script(src="https://www.google.com/recaptcha/api.js" async defer)
      div(class='g-recaptcha', data-sitekey='#{publicKey}')
         br
      input(type='text' id='bioid' name='bioid' value='#{bioId}')
      input(type='submit', id='submitcaptcha', name='submitcaptcha', value='Check Recaptcha', class='btn btn-default')
