extends layout

block content

  form(method='POST', action='/forms/twoStepSubmit', class='form-inline', role='form')
    .form-group
        input(type='text', name='email', class='form-control', placeholder='Enter Email')
    input(type='submit', value='Submit', class='btn btn-default')