extends layout

block content

  form(method='POST', action='/forms/twoStepTest', class='form-inline', role='form')
    .form-group
        input(type='text', id='zipCode', name='zipCode', class='form-control', placeholder='Enter Zip', required)
    input(type='submit', id='submitOne', name="submitOne", value='Next Step', class='btn btn-default')